<div class="container">
	<div class="row" align="center">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		          Change name		         
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse {{#if nameChange}} in {{/if}}" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      	<div class="col-md-4 col-md-push-4">
		      		<form action="/settings/nameChange" method="post">
			      	  <div class="form-group">
					      <input class="form-control setting-content name" type="text" placeholder="First" align="center" name="newFirst">
				          <input class="form-control setting-content name" type="text" placeholder="Last" align="center" name="newLast">
				          <button class="btn btn-primary setting-content" type="submit">Submit</button>
				          {{#if nameChange}}
				          	<div class="status-success">
				          		<p>Successfully updated name to {{newFirstName}} {{newLastName}}</p>
				          	</div>				        
				          {{/if}}
			      	  </div>
		      		</form>
		      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Change email
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse {{#if emailChange}} in {{/if}}" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
			      	<div class="col-md-4 col-md-push-4">
			      		<form action="/settings/emailChange" method="post">
				      		<div class="form-group">
						      	<input class="form-control setting-content" type="Email" placeholder="Email" align="center" name="email">
						      	<button class="btn btn-primary setting-content" type="submit">Submit</button>
						      	{{#if emailChange}}
						      		<div class="status-success">
						      			<p>Successful email change to {{newEmail}}</p>
						      		</div>
						      	{{/if}}
				      		</div>
			      		</form>
			      	</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Change password</a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse {{#if keepOpen}} in {{/if}}" role="tabpanel" aria-labelledby="headingThree">
		      <div class="panel-body">
		      	<div class="col-md-4 col-md-push-4">
		      		<form action="/settings/passwordChange" method="post">
		      			<div class="form-group">
		      				<input class="form-control setting-content old-pass" type="password" placeholder="previous password" name="oldPassword">
					      	<input class="form-control setting-content new-pass" type="password" placeholder="new password" name="newPassword" id="newPassword">
					      	<input class="form-control setting-content new-pass-second" type="password" placeholder="confirm password" name="newPasswordRetyped" id="newPasswordRetyped">
				      		<div>
						      	<span id="message"></span>
				      		</div>
					      	<button class="btn btn-primary setting-content submit-password" type="submit" onclick="">Submit</button>
					      	{{#if cannotChangePassword}}
					      		<div class="status-fail">
					      			<p>Incorrect password.</p>
					      		</div>
				      		{{/if}}
				      		{{#if passwordChanged}}
					      		<div class="status-success">
					      			<p>Password changed.</p>
					      		</div>
					      	{{/if}}
		      			</div>
		      		</form>
		      	</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>