<header>
  <div class="container profile-name-cover">
  	<img src={{randomPerson.coverPicture}} class="cover-image">
  	
    <div class="row" align="center">
      <div class="col-md-4 col-md-push-4">
        {{!-- <img src={{}} class="img-responsive img-circle center-block profile-picture"> --}}
        {{randomPerson.profilePicture}}
      </div>
    </div>
    <div class="row" align="center">
      <div class="col-md-6 col-md-push-3">
        <h1>{{ randomPerson.firstName }} {{ randomPerson.lastName }}'s Account</h1>
      </div>
    </div>
  </div>
</header>
