<div align="center">  
  <h2>Upload Your Masterpiece</h2>
    <br>
    <form method="post" action="/profile/upload" encType="multipart/form-data">
      <div>
        <label for="file">Please select an image file</label>
        <input name="file" type="file" accept="image/*"/>        
      </div>
      <br/>
      <div class="row">
        <label for="title">Title</label>
      </div>
      <div class="row">
        <input type="text" name="title">
      </div>
      <br/>
      <label for="description">Description</label>
      <div class="row">
        <div class="col-md-6 col-md-push-3">
          <textarea class="form-control" name="description" rows="3"></textarea>
        </div>
      </div>
      <br>
      <br>
      <button class="btn btn-primary" type="submit">Upload</button>
    </form> 
    <br>  
    <button class="btn btn-primary" onclick = "location.href = 'http://localhost:8000/profile';">Cancel</button>
</div>
