/*default cover image for profile*/
.cover-image{
	height: 500px;
	width: 100%;
}

/*For formating purposes*/
.profile-name-cover{
	/*height: 500px;*/
}

/*to push the profile picture and the name down*/
.profile-name{
	/*margin-top: 400px;*/
}

.profile-picture{
	width:200px; 
	height:200px;
	margin-top: -100px;
}
/*.profile-picture:hover {
	background-color: red;
}*/

.push-down{
	margin-top: 50px;
}

.dropzoneForm {	
	background-color: transparent;
}