<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <form class="col-md-4 col-md-push-4" action="/login" method="post" align="center">
      <h1>Galler.ia</h1>
      <h3>login</h3>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="col-md-4"></div>
  </div>
</div>
