<div class="container">
  <div align="center">
    <ul class="bxslider" align="center">
      <li><img src="images/picture1.jpeg"></li>
      <li><img src="images/picture2.jpg"></li>
      <li><img src="images/picture3.jpg"></li>
      <li><img src="images/picture4.jpeg"></li>
    </ul>
  </div>
</div>