<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

  <script>
$('.bxslider').bxSlider({
  auto: true,
  autoControls: true,
  stopAutoOnClick: true,
  pager: true,
  slideWidth: 600
});
  </script>

</head>
<body>

<div class="bxslider">
  <div><img src="/assets/images/coffee1.jpg"></div>
  <div><img src="/assets/images/coffee2.jpg"></div>
  <div><img src="/assets/images/coffee3.jpg"></div>
</div>

</body>
</html>