<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div align="center">
    <ul class="bxslider" align="center" style='height: 100%; width: 100%; object-fit: contain'>
      <li><img class="slidePicture" src="images/picture1.jpeg"></li>
      <li><img class="slidePicture" src="images/picture2.jpg"></li>
      <li><img class="slidePicture" src="images/picture3.jpg"></li>
      <li><img class="slidePicture" src="images/picture4.jpeg"></li>
      <li><img class="slidePicture" src="images/profile-default.jpg"></li>
    </ul>
    </div>
    <script>
      $('.bxslider').bxSlider({
        auto: true,
        autoControls: true,
        stopAutoOnClick: true,
        pager: true,
        slideWidth: 600
      });
    </script>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </body>
</html>