<html>
<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
  <ul class="bxslider" align="center">
    <li><img src="images/picture1.jpeg" /></li>
    <li><img src="images/picture2.jpg" /></li>
    <li><img src="images/picture3.jpg" /></li>
    <li><img src="images/picture41.jpeg" /></li>
    <li><img src="images/profile-default.jpg" /></li>
  </ul>
  <script>
    $('.bxslider').bxSlider({
      auto: true,
      autoControls: true,
      stopAutoOnClick: true,
      pager: true,
      slideWidth: 600
    });
  </script>
</body>
</html>