<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
    
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js">
</script>

<link rel="stylesheet" type="text/css" href="css/indexHome.css">
    
<div class="slideBar">
  <h1 style = "padding-top: 5px">TOP PICKS</h1>
  <div align="center">
  <ul class="bxslider" align="center" style='height: 100%; width: 100%; object-fit: contain'>
    <li><img class="slidePicture" src="images/picture1.jpeg"></li>
    <li><img class="slidePicture" src="images/picture2.jpg"></li>
    <li><img class="slidePicture" src="images/picture3.jpg"></li>
    <li><img class="slidePicture" src="images/picture4.jpeg"></li>
    <li><img class="slidePicture" src="images/picture5.jpeg"></li>
  </ul>
  </div>
  <script>
    $('.bxslider').bxSlider({
      auto: true,
      autoControls: true,
      stopAutoOnClick: true,
      pager: true,
      slideWidth: 600
    });
  </script>
</body>
</html>
