{{!-- <<<<<<< HEAD
<header class="header">
  <div class="container">
    <div class="row">
      <div>
        <div class="site-heading">
          <h1>Home</h1>
          <hr class="small"><br></br><br></br>
          <span class="subheading">Fresh Pick</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
    <div>
    
    <img class="img-valign" src="url('img/picture1.jpeg')" />
    <span class="text">picture1</span>
    <img class="img-valign" src="url('img/picture2.jpg')" />
    <span class="text">picture2</span>
    
    </div>

    <br></br>

    <div>
    
    <img class="img-valign" src="url('images/picture2.jpg')" />
    <span class="text">picture3</span>
    <img class="img-valign" src="url('images/picture2.jpg')" />
    <span class="text">picture4</span>
    
    </div>
======= --}}
<html>
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>
  <body>
    <div align="center">
    <ul class="bxslider" align="center">
      <li><img src="images/picture1.jpeg"></li>
      <li><img src="images/picture2.jpg"></li>
      <li><img src="images/picture3.jpg"></li>
      <li><img src="images/picture4.jpeg"></li>
      <li><img src="images/profile-default.jpg"></li>
    </ul>
    </div>
    <script>
      $('.bxslider').bxSlider({
        auto: true,
        autoControls: true,
        stopAutoOnClick: true,
        pager: true,
        slideWidth: 600
      });
    </script>
  </body>
</html>
{{!-- >>>>>>> development
 --}}