<header class="header">
  <div class="container">
    <div class="row">
      <div>
        <div class="site-heading">
          <h1>Home</h1>
          <hr class="small"><br></br><br></br>
          <span class="subheading">Fresh Pick</span>
        </div>
      </div>
    </div>
  </div>
</header>

{{!-- <div class="container">
    <div>
    
    <img class="img-valign" src="url('img/picture1.jpeg')" />
    <span class="text">picture1</span>
    <img class="img-valign" src="url('img/picture2.jpg')" />
    <span class="text">picture2</span>
    
    </div>

    <br></br>

    <div>
    
    <img class="img-valign" src="url('images/picture2.jpg')" />
    <span class="text">picture3</span>
    <img class="img-valign" src="url('images/picture2.jpg')" />
    <span class="text">picture4</span>
    
    </div> --}}