{{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"> --}}

{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> --}}

{{!-- <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script> --}}

<link rel="stylesheet" type="text/css" href="css/indexHome.css">
    
<div class="slideBar">
  <h1 style = "padding-top: 5px">Latest Uploads</h1>
  <div align="center">
    <ul class="bxslider" align="center" style='height: 100%; width: 100%; object-fit: contain'>
      {{#each photosList}}
        <li><img class="slidePicture" src="{{this.image_url}}"></li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="container">

  <h1 class="my-4 text-center text-lg-left">Fresh Picks</h1>

  <div class="row text-center text-lg-left">
    {{#each photosList}}
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="localhost:8000/users/{{this.UserId}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{this.image_url}}" alt="">
        </a>
      </div>
    {{/each}}
  </div>

</div>
    
<button onclick="topFunction()" id="myBtn" title="Go to top" style="position: right">Top</button>		  
  <script>		 
    function topFunction() {
    document.body.scrollTop = 0;	      
    document.documentElement.scrollTop = 0;
  }		  
 </script>		 
