<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

<link rel="stylesheet" type="text/css" href="css/indexHome.css">
    
<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">

<div class="slideBar">
  <h1 class="col-lg-6" align="center">TOP TRENDING</h1>
  <h1 class="col-lg-6" align="center">STAFF PICKS</h1>
  <div class="col-lg-6" align="center">
  <ul class="bxslider col-lg-6" align="center">
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
  </ul>
  </div>
  <div class="col-lg-6" align="center">
  <ul class="bxslider col-lg-6" align="center">
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
    <li><img class="slidePicture" src="http://placehold.it/400x300"></li>
  </ul>
  </div>
</div>
<div class="feedGrid">
<div class="container push-down">
  <br>
  <h2 class="my-4 text-center text-lg-left">Most Recent</h2>
  
  <div class="row text-center text-lg-left">

    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
  </div>
</div>
</div>
<br>  
<div> 
<button onclick="topFunction()" id="myBtn" title="Go to top" style="position: right">Top</button>
</div>		  
  <script>		 
    function topFunction() {
    document.body.scrollTop = 0;	      
    document.documentElement.scrollTop = 0;
  }		  
 </script>		 
